In [2]:
import pandas as pd

In [24]:
#excel
excel_df = pd.read_excel('C:\\Users\\EdwinVivekN\\Desktop\\test.xlsx', sheet_name=0, usecols=['a', 'b','c'])
print(excel_df)
print("Columns:", excel_df.columns.ravel())
print(excel_df["a"].tolist())
print('Excel Sheet to Dict:', excel_df.to_dict(orient='record'))
print('Excel Sheet to JSON:', excel_df.to_json(orient='records'))
print('Excel Sheet to CSV:\n', excel_df.to_csv(index=False))
excel_df.shape

   a  b  c
0  1  2  3
Columns: ['a' 'b' 'c']
[1]
Excel Sheet to Dict: [{'a': 1, 'b': 2, 'c': 3}]
Excel Sheet to JSON: [{"a":1,"b":2,"c":3}]
Excel Sheet to CSV:
 a,b,c
1,2,3

(1, 3)

In [31]:
#SQL query on pandas df
from pandasql import sqldf
import os
loan = pd.read_csv(os.getcwd() + '\\data\\train_loanpred.csv')
pysqldf = lambda q: sqldf(q, globals())
pysqldf("Select Gender, Count(*) from loan")

   Gender  Count(*)
0  Female       614

In [43]:
#Microsoft SQL to Pandas
import sqlalchemy
engine = sqlalchemy.create_engine('mssql+pymssql://sa:Coolcomp@SYNCLAPN17855/learning')
print(pd.read_sql_table('Title', engine))
pd.read_sql_query("Select Worker_Title from Title", engine)

   WORKER_REF_ID               WORKER_TITLE AFFECTED_FROM
0              1  Manager                      2016-02-20
1              2  Executive                    2016-06-11
2              8  Executive                    2016-06-11
3              5  Manager                      2016-06-11
4              4  Asst. Manager                2016-06-11
5              7  Executive                    2016-06-11
6              6  Lead                         2016-06-11
7              3  Lead                         2016-06-11

                Worker_Title
0  Manager
1  Executive
2  Executive
3  Manager
4  Asst. Manager
5  Executive
6  Lead
7  Lead

In [3]:
#Rest API to pandas
import requests
import json
r = requests.get("https://services.odata.org/V4/Northwind/Northwind.svc/Orders")
req = r.json()
restdf = pd.DataFrame(req["value"])
restdf.head()

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,1996-07-04T00:00:00Z,1996-08-01T00:00:00Z,1996-07-16T00:00:00Z,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France
1,10249,TOMSP,6,1996-07-05T00:00:00Z,1996-08-16T00:00:00Z,1996-07-10T00:00:00Z,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany
2,10250,HANAR,4,1996-07-08T00:00:00Z,1996-08-05T00:00:00Z,1996-07-12T00:00:00Z,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,1996-07-08T00:00:00Z,1996-08-05T00:00:00Z,1996-07-15T00:00:00Z,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France
4,10252,SUPRD,4,1996-07-09T00:00:00Z,1996-08-06T00:00:00Z,1996-07-11T00:00:00Z,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium