In [31]:
#string
mystr = "" # empty
mystr = "my new string"
mystr[0]  # ordered, indexed
#temp[0] = "t" - immutable
mystr = "string string string" # allows duplicates
mystr.capitalize()

'String string string'

In [21]:
#list
mylist = [] # empty
mylist = [1,"a", 2, "b"]
mylist[1] # ordered, indexed
mylist[1] = 3 # mutable
mylist.append("b") # allows duplicatess
mylist

[1, 3, 2, 'b', 'b']

In [32]:
#tuple
mytup = () # empty
mytup = (1,2,"a")  
mytup[2] # ordered, indexed
#mytup[0] = 3 immutable
mytup = (1,2,"a", "a") # allows duplicates
mytup

(1, 2, 'a', 'a')

In [47]:
#set
myset = set() # empty
myset = { 1,2,4, "a" }
#myset[0]  # unordered
myset.add("c") # mutable
myset.add("c") # doesnt allow duplicates
myset

{1, 2, 4, 'a', 'c'}

In [61]:
#dict
mydict = {} # empty
mydict = {1:"a", 2:"b", 3:"c"}
mydict[3] # unordered
mydict[4] = "d" # mutable
mydict = {1:"a", 2:"b", 3:"c", 3: "d"} # doesnt allow duplicate keys
mydict = {1:"a", 2:"b", 3:"c", 4: "c"} # allows duplicate values
mydict

{1: 'a', 2: 'b', 3: 'c', 4: 'c'}

dict

In [ ]:
# list to tuple
a_list = [1,2,3,4,5,5]
b_tuple = tuple(a_list)
b_tuple